<h1>プロフィールの登録</h1>
<div class="col-sm-8">
	<%= form_for @profile, :url => user_profiles_path do |f| %>
	<div class="form-group">
		<%= f.label :name, "名前" %>
		<%= f.text_field :name,:class => "form-control" %>
	</div>
	<div class="form-group">
		<%= f.label :sex, "性別" %>
		<%= f.select :sex, {"男" => "男", "女" => "女"} %>
	</div>
	<div class="form-group">
		<%= f.label :birthday, "生年月日" %>
		<%= f.date_select :birthday,:use_month_numbers => true, start_year: 100.years.ago.year, end_year: Time.now.year  %>
	</div>
	<div class="form-group">
		<%= f.label :team, "チーム名" %>
		<%= f.text_field :team,:class => "form-control"  %>
	</div>
	<div class="form-group">
		<%= f.label :place, "都道府県" %>
		<%= f.text_field :place,:class => "form-control"  %>
	</div>
	<p><%= f.submit "プロフィールを登録",:class => "btn btn-default"%></p>
	<% end %>
</div>
