<h1>投稿を編集</h1>
<div class="col-sm-12">
<%= form_for @content, :url => user_content_path(current_user,@content) do |f| %>
	<div class="form-group row">
		<span class="col-sm-3">
			<%= f.label :title, "タイトル" %>
		</span>
		<span class="col-sm-9">
			<%= f.text_field :title,:class => "form-control" %>
		</span>
	</div>
	<div class="form-group row">
		<span class="col-sm-3">
			<%= f.label :body, "内容" %>
		</span>
		<span class="col-sm-9">
			<%= f.text_area :body,:class => "form-control",:rows => "10" %>
		</span>
	</div>
	<div class="form-group row">
		<span class="col-sm-3">
			<%= f.label :day, "日付" %>
		</span>
		<span class="col-sm-9">
			<%= f.date_select :day,:use_month_numbers => true %>
		</span>
	</div>
	<div class="form-group row">
		<span class="col-sm-3">
			<%= f.label :place, "場所" %>
		</span>
		<span class="col-sm-9">
			<%= f.text_field :place,:class => "form-control" %>
		</span>
	</div>
	<p class="text-right"><%= f.submit "編集完了"	,:class => "btn btn-default"%></p>
	<% end %>
</div>

