<h1>Contents#new</h1>
<p>Find me in app/views/contents/new.html.erb</p>
<%= form_for @content, :url => user_contents_path do |f| %>
<p><%= f.label :title, "タイトル" %></p>
<%= f.text_field :title %>
<p><%= f.label :body, "内容" %></p>
<%= f.text_field :body %>
<p><%= f.label :day, "日付" %></p>
<%= f.date_select :day %>
<p><%= f.label :place, "場所" %></p>
<%= f.text_field :place %>
<p><%= f.submit "募集を登録"	%></p>
<% end %>

